:root {
  --color-yellow: #fced22;
  --color-purple: #5b2386;
  --color-text-muted: #babcbe;

  --font-handwriting: "tvN Enjoystories", cursive;
  --font-sans: "Gmarket Sans", sans-serif;
  --font-noto: "Noto Sans KR", sans-serif;
}
